<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-geofence" version="0.7.0">
    <name>geofence</name>
    <description>Geofence plugin</description>
    <license>Apache 2.0</license>
    <keywords>phonegap,background geolocation, geofence</keywords>
    <repo>https://github.com/cowbell/cordova-plugin-geofence.git</repo>
    <issue>https://github.com/cowbell/cordova-plugin-geofence/issues</issue>
    <engines>
        <engine name="cordova" version=">=5.0.0" />
    </engines>

    <js-module src="www/TransitionType.js" name="TransitionType">
        <clobbers target="TransitionType" />
    </js-module>

    <js-module src="www/geofence.js" name="geofence">
        <clobbers target="geofence" />
    </js-module>

    <dependency id="cordova-plugin-add-swift-support" version="~2.0.2" />
    <dependency id="es6-promise-plugin" version="~4.2.2" />

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/BootReceiver.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/GeofenceModel.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/GeofenceManager.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/GeofenceModelStore.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/GeofencePlugin.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/Gson.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/LocalStorage.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/LocalStorageDBHelper.java" target-dir="src/com/cowbell/cordova/geofence" />
        <source-file src="src/android/GeofencingEventIntentReceiver.java" target-dir="src/com/cowbell/cordova/geofence" />

        <framework src="com.google.android.gms:play-services-location:+" />
        <framework src="com.google.code.gson:gson:2.8.5" />

        <config-file target="config.xml" parent="/*">
            <feature name="GeofencePlugin">
                <param name="android-package" value="com.cowbell.cordova.geofence.GeofencePlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.cowbell.cordova.geofence.GeofencingEventIntentReceiver" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.cowbell.cordova.geofence.BootReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <permission android:name="com.geofence.permission.GEOFENCE_TRANSITION_BROADCAST" android:protectionLevel="signature"/>
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="com.geofence.permission.GEOFENCE_TRANSITION_BROADCAST" />
        </config-file>

    </platform>

    <!-- ios -->
    <platform name="ios">
        <preference name="GEOFENCE_ALWAYS_USAGE_DESCRIPTION" default="${EXECUTABLE_NAME} Would Like to Use Your Current Location Even In Background." />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$GEOFENCE_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="GEOFENCE_IN_USE_USAGE_DESCRIPTION" default="${EXECUTABLE_NAME} Would Like to Use Your Current Location When In Use." />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$GEOFENCE_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file target="config.xml" parent="/*">
          <feature name="GeofencePlugin">
            <param name="ios-package" value="GeofencePlugin"/>
          </feature>
        </config-file>
        <header-file src="src/ios/Geofence-Plugin-Bridging-Header.h" />
        <source-file src="src/ios/GeofencePlugin.swift"/>
        <source-file src="src/ios/GeofenceManager.swift"/>
        <source-file src="src/ios/GeofenceModelStore.swift"/>
        <source-file src="src/ios/SwiftData.swift"/>
        <source-file src="src/ios/SwiftyJson.swift"/>
        <framework src="libsqlite3.dylib"/>
        <framework src="WebKit.framework" weak="true" />
    </platform>
</plugin>
